
.form-control{
    border: 1px solid #e8b1b1!important;
    border-radius: 5px !important;
}
.style-css{
    background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}